* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: rgb(253, 240, 221);
  width: 1000px;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: center;
  background-color: cornflowerblue;
}

main {
  background-color: wheat;
  padding: 20px 100px 30px;
}

.header-container {
  text-align: center;
  padding: 10px 0;
  margin: 20px
}

.synopsis {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica", "Arial", sans-serif;
}

dt {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

.header-my-name {
  font-family: "Roboto", sans-serif;
}

.extra-small-top-padding {
  padding-top: 5px;
}

.small-top-padding {
  padding-top: 10px;
}

.medium-top-padding {
  padding-top: 20px;
}

.large-top-padding {
  padding-top: 30px;
}

a:link {
  color: mediumseagreen;
  text-decoration: none;
}

a:visited {
  color: purple;
}

a:hover {
  color: mediumorchid;
  text-decoration: underline;
}

a:active {
  color: orangered;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.center-text {
  text-align: center;
}

footer {
  padding: 10px 30px;
}